<template name="Home">
  <!-- Following Menu -->
  <div class="ui large top fixed hidden menu">
    <div class="ui container">
      <a class="active item">Home</a>

      <div class="right menu">
        <div class="item">
          <a href="/signin" class="ui button">Sign In</a>
        </div>
        <div class="item">
          <a href="/signup" class="ui primary button">Sign Up</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Sidebar Menu -->
  <div class="ui vertical inverted sidebar menu">
    <a class="active item">Home</a>
    <a href="/signin" class="item">Sign In</a>
    <a href="/signup" class="item">Sign Up</a>
  </div>


  <!-- Page Contents -->
  <div class="pusher">
    <div class="ui inverted vertical masthead center aligned segment">

      <div id="primary_menu" class="ui container">
        <div class="ui large secondary inverted pointing menu">
          <a class="toc item">
            <i class="sidebar icon"></i>
          </a>
          <a class="active item">Home</a>

          <div class="right item">
            <a href="/signin" class="ui inverted button">Sign In</a>
            <a href="/signup" class="ui inverted button">Sign Up</a>
          </div>
        </div>
      </div>

      <div class="ui text container">
        <h1 class="ui inverted header">
          Social Butterfly
        </h1>

        <h2>Chat with the world around you!</h2>

        <a href="/signup" class="ui huge primary button">Get Stared <i class="right arrow icon"></i></a>
      </div>
    </div>
    <div class="ui vertical stripe segment">
      <div class="ui text container">
        <h3 class="ui header">Chat with random strangers!</h3>

        <p>Instead of focusing on what you're currently supposed to be doing, you can now
          go and spend your time on an anonymous chat room with no moderators and shout out into the void!</p>
        <a href="/signup" class="ui large button">Give it a try!</a>
        <h4 class="ui horizontal header divider">
          <a>Moreover...</a>
        </h4>

        <h3 class="ui header">Prototyped by Alexander Wong.</h3>

        <p>This was done primarily as a learning exercise for utilizing Meteor and Node.js. I wanted to see how quick
          and easy it would be to deploy a scalable real time web application.</p>
        <a href="https://www.alexander-wong.com/" class="ui large button">Visit the Developer Site</a>
      </div>
    </div>
    {{> Footer}}
  </div>
</template>
<template name="Footer">
  <div class="ui inverted vertical sticky bottom footer segment">
    <div class="ui container">
      <div class="ui stackable inverted divided equal height stackable grid">
        <div class="ten wide column">
          <h4 class="ui inverted header">General Links</h4>

          <div class="ui inverted link list">
            <a href="https://www.alexander-wong.com/" class="item">Developer Site</a>
            <a href="https://www.alexander-wong.com/#four" class="item">Contact Form</a>
            <a href="https://github.com/awwong1/socialbutterfly" class="item">Prototype Github</a>
          </div>
        </div>
        <div class="three wide column">
          <h4 class="ui inverted header">Resources</h4>

          <div class="ui inverted link list">
            <a href="https://www.meteor.com/" class="item">Meteor.js</a>
            <a href="http://semantic-ui.com/" class="item">Semantic UI</a>
            <a href="https://nodejs.org/" class="item">Node.js</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>